.ensanchar {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.logoCasa {
    width: 50%;
}

.imagenHeroe {
    width: 100%;
}

.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.tamañoMax {
    width: 100%;
}

.tamaño {
    width: 350px;
}

.row {
    justify-content: center;
}

body {
    padding-bottom: 50px;
}

.main-container {
    margin-top: 20px;
}

/* ANIMACIONES */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}